.button {
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
	font-family: Comic Sans MS;
    margin: 4px 2px;
	width:150px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button1 {
    background-color: lightgrey;	
    color: black; 
    border: 2px double rgb(225,0,127);
	border-radius:12px;
}
.button1:hover {
    background-color: green;
    color: lenin;
}
.button2 {
    background-color: lightpink; 
    color: black; 
    border: 2px double rgb(225,0,127);
	border-radius:12px;
}
.button2:hover {
    background-color: green;
    color: lenin;
}
.button3 {
    background-color: lightgrey;
    color: black; 
    border: 2px double rgb(225,0,127);
	border-radius:12px;
}
.button3:hover {
    background-color: green;
    color: lenin;
}
.button4 {
    background-color: lightpink;
    color: black;
    border: 2px double rgb(225,0,127);
	border-radius:12px;
}
.button4:hover {
    background-color: green;
	color:lenin
}
.button5 {
    background-color: lightgrey;
    color: black;
    border: 2px double rgb(225,0,127);
	border-radius:12px;
}
.button5:hover {
    background-color: green;
    color: lenin;
}
.button6 {
    background-color: lightpink;
    color: black;
    border: 2px double rgb(225,0,127);
	border-radius:12px;
}
.button6:hover {
    background-color: green;
    color: lenin;
}
body {
     background-image:url("now.jpg");
	 background-repeat:no-repeat;
}
h1 {
   color:dodgerblue;
   text-align:right;
   font-size:100px;  
}
@font-face {
           font-family:chlorinarorinar;
		   src:url("chlorinar.tff");
}
* {
  font-family:chlorinar;
}